@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

/* Hero Section Css */

#hero-section{
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 560px;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 8px;
}

.hero{
    display: flex;
    justify-content: space-between;
}

.hero .hero-content h4{
    color: rgb(14, 14, 14, 50%);
    font-size: 24px;
    font-weight: 500; 
    padding: 30px 0 0 0;
}

.hero .hero-content h1{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 700; 
    padding: 25px 0 35px 0;
}

.hero .hero-content button{
    max-width: 270px;
    height: 56px;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.hero .hero-content button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.hero .hero-content button:hover{
    background-color: #07382c;
    border-radius: 0px; 
    transition: 0.5s;
}

.hero .hero-img img{
    max-width: 475px;
    height: 400px;
    background-size: cover;
}

/* Vision Section Css */
.vision{
    display: block;
    margin: 0 auto;
    width: 1280px;
}

.vision > h1{
    font-size: 40px;
    font-weight: 700px;
    color: #0E0E0E;
    padding: 50px 0 15px 0;
}

.vision > p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14, 70%);
    line-height: 24px;
}

.vision .vision-cards{
    display: flex;
    gap: 15px;
    margin: 30px 0 0 0;
}

.vision .vision-cards .card{
    padding: 25px 20px;
    border-radius: 16px;
}

.vision .vision-cards .card-1{
    background-color: rgb(84, 144, 245, 20%);
}

.vision .vision-cards .card-2{
    background-color: rgb(198, 228, 214, 100%);
}

.vision .vision-cards .card-3{
    background-color: rgb(247, 235, 207, 100%);
}


.vision .card .img{
    max-width:64px;
    height: 64px;
}

.vision .card h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
}

.vision .card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(14, 14, 14, 70%);
}

.vision .card button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    margin-top:15px;
}

.vision .card button a{
    text-decoration: none;
    color: #fff;
}

.vision .vision-cards .card-1 button{
    background-color: #5490F5;
}

.vision .vision-cards .card-1 button:hover{
    background-color: #144eb2;
    transition:0.5s;
    cursor: pointer;
    border-radius: 0;
}

.vision .vision-cards .card-2 button{
    background-color: #09A15C;
}

.vision .vision-cards .card-2 button:hover{
    background-color: #0a693e;
    transition:0.5s;
    cursor: pointer;
    border-radius: 0;
}


.vision .vision-cards .card-3 button{
    background-color: #FFC239;
}

.vision .vision-cards .card-3 button:hover{
    background-color: #ffd676;
    transition:0.5s;
    cursor: pointer;
    border-radius: 0;
}

/* News Section Css */
.News{
    display: block;
    margin: 0 auto;
    width: 1280px;
}

.News > h1{
    font-size: 40px;
    font-weight: 700px;
    color: #0E0E0E;
    padding: 50px 0 15px 0;
}

.News > p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14, 70%);
    line-height: 24px;
}

.News .news-card{
    display: flex;
    gap: 25px;
    background-color: #ffffff;
    border-radius: 24px;
    margin:20px 0;
    padding: 48px;
}

.News .news-card img{
    width:408px;
    height:306px;
    border-radius:24px;
    margin-top: 7px;
}

.News .news-card .news-card-content h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: rgb(14, 14, 14, 80%);
}

.News .news-card .news-card-content > p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14, 70%);
    line-height: 24px;
    padding: 12px 0 0 0;
}

.News .news-card .news-card-content img{
    max-width: 140px;
    height:40px;
    object-fit: contain;
}

.News .news-card .news-card-content button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    margin-top:15px;
    background-color: #09A15C;
    margin: 20px 0 0 0;
}

.News .news-card .news-card-content button:hover{
    background-color: #006A50;
    transition:0.5s;
    cursor: pointer;
    border-radius: 0;
}

.News .news-card .news-card-content button a{
    text-decoration: none;
    color: #fff;
}

/* Donate Section Css */
.donate{
    display: block;
    margin: 0 auto;
    width: 1280px;
    padding: 20px 55px;
}

.donate h1{
    font-size: 40px;
    font-weight: 700px;
    color: #0E0E0E;
    padding: 0 0 10px 0;
}

.donate p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14, 70%);
    line-height: 24px;
}

.donate .box{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.donate .box .donate-box{
    width:240px;
    height:120px;
    border-radius:16px;
    padding:40px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px 0px  rgba(99, 99, 99, 0.2);
}

.donate .box .d-box-2{
    background-color: #C6E4D6;
}

.donate .box .donate-box:hover{
    border-radius:0;
    background-color: #09A15C;
    cursor: pointer;
    transition: 0.5s;
}

.donate .box .donate-box h3{
    font-size: 30px;
    font-weight: 700px;
    color: rgb(14, 14, 14, 80%);
    text-align: center;
}

.donate form{
    text-align: center;
}

input[type="text"]{
    width: 1000px;
    height: 64px;
    background: #fff;
    text-align: center;
    border: none;
    box-shadow: 0px 2px 8px 0px  rgba(99, 99, 99, 0.2);
    margin:20px 0 20px 0;
    outline: none;
}

input[type="text"]::placeholder {
    color: rgba(14, 14, 14, 0.3);
}

input[type="submit"]{
    width: 151px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 17px 34px;
}

input[type="submit"]:hover {
    background-color: #09A15C;
    border-radius: 0;
    transition: 0.5s;
}

/* Center_Text Css */
.center-text{
    text-align: center;
}